    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p>I think that everything can be achieved through persistence.  
My knowledge allows me to develop, install, document and maintain multi-platform computer applications, using technologies and specific development environments, guaranteeing secure access to data and complying with usability and quality criteria.</p>
               
                <br/>
              </div>
        </div>
    </section>
